@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
.accordion-container {
    grid-column-start: span 2;
    align-items: center;
    justify-content: center;
}

.accordion {
    position: relative;
    padding: 0%;
}

[id*="open-accordion"],
[id*="close-accordion"] {
    background-color: #7ebaff;
    border-bottom: 1px solid #fff;
    border-radius: 4px 4px 0px 0px;
    line-height: 6vh;
    height: 6vh;
    display: block;
    margin: 0 auto;
    position: relative;
    width: 100%;
    align-content: center;
}

[id*="close-accordion"] {
    display: none;
}

.accordion a {
    color: #fff;
    font-size: calc(5px + 1vw);
    font-weight: normal;
    text-decoration: none;
    text-shadow: none;
    padding-left: 5%;
    font-weight: bold;
    align-self: center;
}

[id*="open-accordion"]:after,
[id*="close-accordion"]:after {
    content: "";
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 10px solid rgb(255, 255, 255);
    border-bottom: 20px;
    position: absolute;
    right: 10px;
    top: 15px;
    z-index: 999;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}

.target-fix {
    display: block;
    top: 0;
    left: 0;
    position: fixed;
}

.accordion-content {
    background: #fff;
    height: 0;
    padding: 0%;
    position: relative;
    overflow: hidden;
    width: 100%;
    transition: all 0.1s ease;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
}

.accordion span:target~.accordion-content {
    grid-column: 1;
    display: grid;
    grid-template-columns: 1fr 0.7fr;
    width: 170%;
    height: auto;
}

.accordion span:target~[id*="close-accordion"] {
    display: block;
}

.accordion span:target~[id*="open-accordion"] {
    display: none;
}

.accordion span:target~[id*="close-accordion"]:after {
    border-top: 5px solid rgb(255, 255, 255);
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
}

.category-list li {
    position: relative;
    border: solid 1px rgba(0, 0, 0, .1);
    border-bottom: none;
    border-left: none;
    border-right: none;
    transition: all linear .15s;
    padding: 15px 10px;
    align-self: center;
    font-size: calc(1px + 1vw);
    font-family: 'Nunito';
    font-weight: bold;
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.accordion-categories {
    grid-column-start: span 1;
    border-radius: 0px 0px 0px 3px;
    border: solid 1px rgba(0, 0, 0, .1);
    border-top: none;
    height: fit-content;
}

.subcategories-container {
    grid-column: 2;
    z-index: 2;
    background-color: white;
    border: none;
    border-radius: 0px 3px 3px 0px;
    display: block;
    height: fit-content;
}

.accordion-content ul {
    margin: 0;
    padding: 0;
    text-align: left;
    list-style: none;
}

.subcategories {
    margin: 0;
    padding: 0;
    text-align: left;
    list-style: none;
}

.subcategories li {
    display: list-item;
    text-align: -webkit-match-parent;
    padding: 0%;
    border: dashed 1px rgba(0, 0, 0, 0.168);
    border-top: solid 1px rgba(255, 255, 255, 0);
    ;
    border-right: none;
    border-left: none;
}

.accordion-content ul li {
    display: list-item;
    text-align: -webkit-match-parent;
    padding: 0%;
}

.category-list ul {
    list-style-image: url('galochka.png');
}

.category-icon {
    width: 5vh;
    grid-column: 2;
    padding-left: 5%;
}

.subcategory-link button {
    background-color: white;
    border: 1px;
    display: inline-block;
    cursor: pointer;
    color: #2e8fff;
    font-family: "Nunito";
    font-size: calc(1px + 1vw);
    text-decoration: none;
    font-weight: bold;
    height: 2vh;
    width: 95%;
    text-align: left;
    padding-left: 5%;
}

.subcategory-link button:hover {
    color: #9ec9fa;
}

.subcategory-link {
    height: 100%;
    width: 100%;
}